<div class="modal-body">
    <div class="table-responsive">
        <p class="lead titlefix pt0">Class: Class 6(A)</p>
        <div id="DataTables_Table_5_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover dataTable no-footer" id="example1">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Subject: activate to sort column descending" style="width: 0px;">Subject</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 0px;">Date</th>
                                <th class="text text-center sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" aria-label="Start Time: activate to sort column ascending" style="width: 0px;">Start Time</th>
                                <th class="text text-center sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" aria-label="End Time: activate to sort column ascending" style="width: 0px;">End Time</th>
                                <th class="text text-center sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" aria-label="Room: activate to sort column ascending" style="width: 0px;">Room</th>
                                <th class="text text-center sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" aria-label="Full Marks: activate to sort column ascending" style="width: 0px;">Full Marks</th>
                                <th class="text text-center sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" aria-label="Passing Marks: activate to sort column ascending" style="width: 0px;">Passing Marks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd">
                                <td class="sorting_1">Arts (Th.)</td>
                                <td class="">09/20/2017</td>
                                <td style="width:200px;" class="text text-center">12:00 AM</td>
                                <td style="width:200px;" class="text text-center">05:00 AM</td>
                                <td class="text text-center">100</td>
                                <td class="text text-center">20</td>
                                <td class="text text-center">10</td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1">Drawing (Pr.)</td>
                                <td class="">09/22/2017</td>
                                <td style="width:200px;" class="text text-center">12:00 AM</td>
                                <td style="width:200px;" class="text text-center">05:00 AM</td>
                                <td class="text text-center">100</td>
                                <td class="text text-center">20</td>
                                <td class="text text-center">10</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1">English (Th.)</td>
                                <td class="">09/22/2017</td>
                                <td style="width:200px;" class="text text-center">12:00 AM</td>
                                <td style="width:200px;" class="text text-center">05:00 AM</td>
                                <td class="text text-center">100</td>
                                <td class="text text-center">20</td>
                                <td class="text text-center">10</td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1">Mathematics (Th.)</td>
                                <td class="">09/12/2017</td>
                                <td style="width:200px;" class="text text-center">11:30 PM</td>
                                <td style="width:200px;" class="text text-center">05:00 AM</td>
                                <td class="text text-center">100</td>
                                <td class="text text-center">20</td>
                                <td class="text text-center">10</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1">Mathematics (Th.)</td>
                                <td class="">09/25/2017</td>
                                <td style="width:200px;" class="text text-center">12:00 AM</td>
                                <td style="width:200px;" class="text text-center">05:00 AM</td>
                                <td class="text text-center">100</td>
                                <td class="text text-center">20</td>
                                <td class="text text-center">10</td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1">Science (Th.)</td>
                                <td class="">09/12/2017</td>
                                <td style="width:200px;" class="text text-center">12:00 AM</td>
                                <td style="width:200px;" class="text text-center">05:00 AM</td>
                                <td class="text text-center">100</td>
                                <td class="text text-center">20</td>
                                <td class="text text-center">10</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1">Social Studies (Th.)</td>
                                <td class="">09/20/2017</td>
                                <td style="width:200px;" class="text text-center">12:00 AM</td>
                                <td style="width:200px;" class="text text-center">05:00 AM</td>
                                <td class="text text-center">100</td>
                                <td class="text text-center">20</td>
                                <td class="text text-center">10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>